serverConsole/.vs
*.pyc
.idea/
.vs/
packages/
ServerConsole/bin/
ServerConsole/obj/
TestResult.xml
TestServerConsole/bin/
TestServerConsole/obj/
TestServerConsole/obj/
TestUaclServer/bin/
TestUaclServer/obj/
UaclServer/bin/
UaclServer/obj/
