serverConsole/.vs
*.pyc
.idea/
.vs/
packages/
ServerConsole/bin/
ServerConsole/obj/
TestResult.xml
TestServerConsole/bin/
TestServerConsole/obj/
TestServerConsole/obj/
TestUaclServer/bin/
TestUaclServer/obj/
UaclServer/bin/
UaclServer/obj/
TestUaclUtils/bin/
TestUaclUtils/obj/
UaclUtils/bin/
UaclUtils/obj/
OfficeConsole/bin/
OfficeConsole/obj/
TestOfficeConsole/bin/
TestOfficeConsole/obj/
TestUaclClient/obj/
UaclClient/bin/
UaclClient/obj/
TestUaclClient/bin/
MultiClientConsole/bin
MultiClientConsole/obj
MultiClientConsole/MultiClientConsole.csproj.user
ServerConsole.sln.iml
