<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="UaApplicationConfiguration" type="UnifiedAutomation.UaBase.ApplicationConfigurationSection,UnifiedAutomation.UaBase"/>
	</configSections>

	<UaApplicationConfiguration>
		<SecuredApplication xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://opcfoundation.org/UA/2011/03/SecuredApplication.xsd" xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd">

			<!-- Identify the Application -->
			<ApplicationName>UaServerNET@localhost</ApplicationName>
			<ApplicationUri>urn:localhost:UnifiedAutomation:UaServerNET</ApplicationUri>
			<ApplicationType>Server_0</ApplicationType>

			<!-- Specify location of Certificates and Trust Lists -->
			<ApplicationCertificate>
				<StoreType>Directory</StoreType>
				<StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundleEval\pkiserver\own</StorePath>
				<SubjectName>CN=UaServerNET/O=UnifiedAutomation/DC=localhost</SubjectName>
				<ValidationOptions>0</ValidationOptions>
			</ApplicationCertificate>

			<TrustedCertificateStore>
				<StoreType>Directory</StoreType>
				<StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundleEval\pkiserver\trusted</StorePath>
				<!--
        <StoreType>Windows</StoreType>
        <StorePath>LocalMachine\UA Applications</StorePath>
        -->
				<ValidationOptions>0</ValidationOptions>
			</TrustedCertificateStore>
			<IssuerCertificateStore>
				<StoreType>Directory</StoreType>
				<StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundleEval\pkiserver\issuers</StorePath>
				<!--
        <StoreType>Windows</StoreType>
        <StorePath>LocalMachine\UA Certificate Authorities</StorePath>
        -->
				<ValidationOptions>0</ValidationOptions>
			</IssuerCertificateStore>
			<RejectedCertificatesStore>
				<StoreType>Directory</StoreType>
				<StorePath>%CommonApplicationData%\unifiedautomation\UaSdkNetBundleEval\pkiserver\rejected</StorePath>
				<ValidationOptions>0</ValidationOptions>
			</RejectedCertificatesStore>

			<BaseAddresses>
				<BaseAddress>opc.tcp://localhost:48030</BaseAddress>

				<!--
        Uncomment this line to enable the HTTPS based profiles.

        This profile works but is not officially supported in this version of the SDK.
        This is the HTTP based protocol that will be supported by embedded devices.

        Enabling this profile requires that you have a HTTPS certificate issued by a certificate authority
        in your root certificate store. You can create your own authority and add it to the root store or
        you can use authorities like VeriSign or Thawte. To do so, start the server with /install as Administrator.
        -->
				<!--
        <BaseAddress>https://localhost:48031</BaseAddress>
        -->
				<!--
        Uncomment this line to enable the WS-Secure Conversation based profiles.

        This profile works but is not officially supported since it is not practical to support on embedded devices.
        You should not enable this protocol unless you have an application that must support XML Web Services.
        -->
				<!--
        <BaseAddress>http://localhost:48032/wssecurity/</BaseAddress>
        -->

			</BaseAddresses>
			<SecurityProfiles>
				<SecurityProfile>
					<ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#Basic256Sha256</ProfileUri>
					<Enabled>true</Enabled>
				</SecurityProfile>
				<SecurityProfile>
					<ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#Basic256</ProfileUri>
					<Enabled>true</Enabled>
				</SecurityProfile>
				<!--
      The SecurityPolicy 'Basic128Rsa15' is no longer recommended.
      It is up to an administrator to configure the actual exposed SecurityPolicies.
      -->
				<!--
        <SecurityProfile>
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#Basic128Rsa15</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>
      -->
				<SecurityProfile>
					<ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#None</ProfileUri>
					<Enabled>true</Enabled>
				</SecurityProfile>
			</SecurityProfiles>
			<Extensions>

				<!-- the EndpointUrl attribute for an Endpoint node must match one of the BaseAddresses -->
				<!--
        <Extension>
          <EndpointSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <Endpoint EndpointUrl="opc.tcp://localhost:48030">
              <DisableNoSecurity>true</DisableNoSecurity>
              <EnableSignOnly>true</EnableSignOnly>
              <DisableSignAndEncrypt>true</DisableSignAndEncrypt>
            </Endpoint>
          </EndpointSettings>
        </Extension>
        -->

				<!-- Specify the Trace settings for the Application
             Available trace levels are:
              - Default:         Use the default trace level.
              - None:            Turn all tracing off.
              - Error:           Unexpected errors that require the attention of developers or administrators.
              - Warning:         Less critical issues that also require the attention of developers or administrators.
              - System:          General system messages.
              - Info:            Informational messages.
              - InterfaceCall:   The entry and exit messages for major API methods.
              - Constructor:     The constructors of major API objects.
              - ProgramFlow:     Additional entry and exit messages for minor API methods.
              - Data:            Verbose information when the state of objects changes during processing.
        -->
				<Extension>
					<TraceSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd" MasterTraceEnabled="false" DefaultTraceLevel="Info">
						<TraceFile>%CommonApplicationData%\unifiedautomation\logs\UaSdkNetBundleEval\UaServerNET.log.txt</TraceFile>
						<MaxEntriesPerLog>100000</MaxEntriesPerLog>
						<MaxLogFileBackups>3</MaxLogFileBackups>
						<ModuleSettings>
							<ModuleTraceSettings ModuleName="UnifiedAutomation.Stack" TraceEnabled="true"/>
							<ModuleTraceSettings ModuleName="UnifiedAutomation.Server" TraceEnabled="true"/>
						</ModuleSettings>
					</TraceSettings>
				</Extension>

				<!-- Specify Settings when EXE is run with the /install argument -->
				<Extension>
					<InstallationSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
						<GenerateCertificateIfNone>true</GenerateCertificateIfNone>
						<DeleteCertificateOnUninstall>true</DeleteCertificateOnUninstall>
						<ConfigureFirewall>true</ConfigureFirewall>
						<ConfigureHttpAccess>true</ConfigureHttpAccess>
					</InstallationSettings>
				</Extension>

				<Extension>
					<ServerSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
						<ProductUri>urn:UnifiedAutomation:UaServerNet</ProductUri>
						<ProductName>UnifiedAutomation UaServerNET</ProductName>
						<AvailableLocaleIds>
							<String>en-US</String>
							<String>de-DE</String>
							<String>fr-CA</String>
						</AvailableLocaleIds>
						<UserIdentity>
							<EnableAnonymous>true</EnableAnonymous>
							<EnableUserName>true</EnableUserName>
							<EnableCertificate>true</EnableCertificate>
							<!--
              Kerberos user tokens are not fully implemented.
              <KerberosPrincipalName>localhost/UnifiedAutomation.UaServerNet</KerberosPrincipalName>
              -->
						</UserIdentity>
						<DiscoveryRegistration>
							<Enabled>false</Enabled>
							<RegistrationInterval>2</RegistrationInterval>
						</DiscoveryRegistration>
					</ServerSettings>
				</Extension>

				<!--
        <Extension>
          <ThreadPoolSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <MaxThreadCount>1000</MaxThreadCount>
            <MaxRequestCount>100000</MaxRequestCount>
          </ThreadPoolSettings>
        </Extension>
        -->

				<!--
        <Extension>
          <EndpointSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <Endpoint EndpointUrl="opc.tcp://localhost:48030">
              <DisableNoSecurity>true</DisableNoSecurity>
              <EnableSignOnly>true</EnableSignOnly>
            </Endpoint>
            <Endpoint EndpointUrl="opc.tcp://127.0.0.1:48031">
              <NetworkInterface>127.0.0.1</NetworkInterface>
              <ApplicationCertificateStore>%CommonApplicationData%\unifiedautomation\UaSdkNetBundleEval\pkiserver\localhost</ApplicationCertificateStore>
              <ApplicationCertificateSubjectName>CN=TestServer/O=UnifiedAutomation/DC=127.0.0.1</ApplicationCertificateSubjectName>
              <TrustedCertificateStore>%CommonApplicationData%\unifiedautomation\UaSdkNetBundleEval\pkiserver\localhost</TrustedCertificateStore>
          </Endpoint>
          </EndpointSettings>
        </Extension>
        -->

				<Extension>
					<SessionSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
						<MaxSessionCount>500</MaxSessionCount>
					</SessionSettings>
				</Extension>

				<Extension>
					<SubscriptionSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
						<MinPublishingInterval>50</MinPublishingInterval>
						<PublishingIntervalResolution>50</PublishingIntervalResolution>
						<MaxSubscriptionCount>500</MaxSubscriptionCount>
						<MaxSubscriptionsPerSession>100</MaxSubscriptionsPerSession>
						<MaxNotificationsPerPublish>25000</MaxNotificationsPerPublish>
						<MaxMessageQueueSize>100</MaxMessageQueueSize>
					</SubscriptionSettings>
				</Extension>

				<Extension>
					<CertificateCheckSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">

						<!-- This element sets the default certificate checks which are enforced by the application -->
						<Default DisableDomainCheck="false" DisableApplicationUriCheck="false" DisableCertificateTimeInvalid="false" DisableCertificateIssuerTimeInvalid="false" DisableCertificateRevocationUnknown="false" DisableCertificateIssuerRevocationUnknown="false"/>

						<!-- These elements override the default certificate checks for a single certificate -->

						<!--
            <Certificate Thumbprint="9F94EBF4473CE8589F348FD853D1DBF3A3514A7D" DisableApplicationUriCheck="true" DisableCertificateRevocationUnknown="true" />
            <Certificate Thumbprint="8B2B4864EDAD10D73DBFFBC0BC820E76A7A6A22C" DisableCertificateRevocationUnknown="true" />
            -->

					</CertificateCheckSettings>
				</Extension>

			</Extensions>
		</SecuredApplication>
	</UaApplicationConfiguration>
	<system.serviceModel>
		<services>
			<service name="UnifiedAutomation.UaBase.SessionEndpoint" behaviorConfiguration="SessionEndpoint.Behavior">
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<!--
            Must turn on mexHttpsBinding instead of mexHttpBinding if only HTTPS endpoint configured.
            <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>
            -->
			</service>
		</services>
		<!-- Servers deployed in production environments should turn the httpGetEnabled and includeExceptionDetailInFaults options off -->
		<behaviors>
			<serviceBehaviors>
				<behavior name="SessionEndpoint.Behavior">
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceMetadata httpGetEnabled="true"/>
					<!--
                Must turn on httpsGetEnabled instead of httpGetEnabled if only HTTPS endpoint configured.
                <serviceMetadata httpsGetEnabled="true" />
                -->
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<!--
    <diagnostics>
        <messageLogging logEntireMessage="true" maxMessagesToLog="3000" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    -->
	</system.serviceModel>
	<!--
  <system.diagnostics>
      <sources>
          <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
              <listeners>
                  <add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
                  <add name="ServiceModel Listener"/>
              </listeners>
          </source>
          <source name="System.ServiceModel.MessageLogging">
              <listeners>
                  <add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
                  <add name="ServiceModel Listener"/>
              </listeners>
          </source>
      </sources>
      <sharedListeners>
          <add initializeData="VendorServer.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModel Listener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
      </sharedListeners>
  </system.diagnostics>
  -->
</configuration>
